$darkgrey : #4c5454;
$lightgrey: #9aa2a2;
$pink : #ff7158;
$pink2 : rgb(255, 82, 82);
$white : #ffffff;
$lightblue: #76E5FC;
$black: #000;
$lightblack: #222;

$pacifico: "Pacifico", cursive;
$josefin: "Josefin Sans", sans-serif;
$dots : 'Raleway Dots', cursive;
$raleway: 'Raleway', sans-serif;
$lobster: 'Lobster', cursive;
$codystar: 'Codystar', cursive;