$darkgrey : #4c5454;
// $lightgrey: #9aa2a2;
$lightgrey: #b8cbcb;
$lightlightgrey: #f3eeee; 
$pink : #ff7158;
// $pink2: #ff4c43;
$pink2 : #ff3939;
$white : #ffffff;
$lightblue: #76E5FC;
$blue: #00c7f1;
$black: #000;
$lightblack: #222;
$green: rgb(0,255,0);
$white2: #faebd7;

$text-color: white;
$icons-color: white;
$icons-hover-color: #860032;
$cross-btn-color: #ff3939;
$cross-btn-back-color: white;

$dots : 'Raleway Dots', serif;
$raleway: 'Raleway', serif;
