@import "partials/variables";

html, body {
    font-family: $raleway;
    margin: 0;
    padding: 0;
}

html, body {
    height: 100%;
    color: $darkgrey;
    font-weight: 300;
}

html::-webkit-scrollbar-track
{
    -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.3);
    background-color: #ffffff;
}

html::-webkit-scrollbar
{
    width: 7px;
    background-color: #ffffff;
}

html::-webkit-scrollbar-thumb
{
    background-color: #ff3939;
}

#app{
    height: inherit;
}

h1,h2,h3,h4{
    margin: 0;
    padding: 0;
    font-weight: 400;
}

a{
    text-decoration: none;
    &:hover{
        text-decoration: none;
    }
}

img{
    max-width: 100%;
}

.main-view{
    height: 100%;
    .row{
        height: 100%;
    }
    .one{
        padding: 0px 30px;
        padding-top: 10px;
        height: 100%;
        background: $black;
        overflow-y: hidden;
        overflow-x: hidden;
        .header{
            padding: 25px 0px;
            font-family: $dots;
            color: $pink2; 
            font-size: 45px;
            //font-weight: 500;
            a{
            color: inherit;
            text-decoration: none;
                &:hover{
                    color: inherit;
                }
            }
        }

        .intro{
            z-index: 3;
            line-height: 1.7em;
            font-weight: 300;
            font-size: 21px;
            color: $lightgrey;
            //padding-right: 200px;
            letter-spacing: 0.2px;
            h1{
                font-weight: 300;
                line-height: 1.2em;
                font-size: 30px;
            }
            p{
                clear: both;
                margin: 0px;
            }
            span{
                color: $pink2;
            }
            button{
                
                background: none;
                letter-spacing: 0.5px;
                border: none;
                font-size: 18px;
                color: $blue;
                padding: 10px 0px;
                z-index: 2;
                position: relative;
                &:hover{
                    color: $pink2;
                }
                &:focus{
                    outline: none;
                }
            }
        }
        .svgs{
            z-index: 1;
            left: 0px;
            display: flex;
            align-items: baseline;
            position: absolute;
            bottom: -5%;
            .popcorn2{
                width: 50vh;
                left: -17%;
                position: relative;
                fill: $pink2;
            }
            .popcorn3{
                fill: $blue;
                fill: $darkgrey;
                position: relative;
                width: 30vh;
                position: relative;
                left: -47%;
            }
        }
        footer{
            position: absolute;
            bottom: 0px;
            z-index: 1;
            right: 0px;
            padding: 30px;
            .icons{
                a{
                    padding-right: 6px;
                    color: $blue;
                    &:hover{
                        color: $pink2;
                    }
                }   
            }
        }
    }
    .two{
        height: 100%;
        padding: 30px;
        padding-top: 10px;
        overflow-y: scroll;
        overflow-x: hidden;
        .header{
            padding: 25px 0px;
            font-family: $raleway;
            color: $darkgrey;
            font-size: 30px;
            font-weight: 300;
            a{
            color: inherit;
            text-decoration: none;
                &:hover{
                    color: inherit;
                }
            }
        }
        .content{
            h1,h2,h3,h4{
                font-weight: 300;
            }
            h1.component-headers{
                font-size: 24px;
                text-align: right;
                color: $pink2;
                margin-top: 20px;
            }
            .items{
                .item{
                    border: none;
                    background: none;
                    font-size: 18px;
                    width: 100%;
                    text-align: left;
                    padding: 10px 10px;
                    border-radius: 3px;
                    span{
                        float: right;
                        color: $white;
                        position: relative;
                        transition: 0.5s;
                        transform: translate(-100%);
                    }
                    transition: 0.2s;
                    &:hover{
                        color: $pink2;
                        span{
                            color: $pink2;
                            transform: translate(0px);
                        }
                    }
                    &:focus{
                        outline: none;

                    }
                }
            }
            
        }
        footer{
            position: relative;
            bottom: 0;
            width: 100%;
            margin-top: 30px;
            padding: 12px;
            font-size: 16px;
            left: 0px;
            a{
                color: $blue;
                &:hover{
                    color: $pink2;
                }
            }
            span{
                display: inline-block;
            }
            i{
                color: $pink2;
                display: block;
                position: relative;
                top: 4px;
            }
        }
    }
    .two::-webkit-scrollbar-track
    {
        -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.3);
        background-color: #ffffff;
    }

    .two::-webkit-scrollbar
    {
        width: 7px;
        background-color: #ffffff;
    }

    .two::-webkit-scrollbar-thumb
    {
        background-color: #ff3939;
    }
}

.auditorium{
    // display: none;
    position: fixed;
    z-index: 4;
    transform: translateY(-1000%);
    width: 100%;
    background-color: $white;
    transition: 400ms;
    &.open{
        top: 0;
        height: 100%;
        transform: translateY(0%);
        .backstage-door{
            display: block;
        }
    }
    .stage{
        height: 100%;
    }
    .backstage-door{
        position: absolute;
        z-index: 10;
        display: none;
        background: $pink2;
        color: $black;
        border: none;
        padding: 15px;
        border-radius: 4px;
        margin: 10px;
        font-weight: 400;
        bottom: 0;
        &:hover{
            background: $black;
            color: $white;
        }
        &:focus{
            outline: none;
        }
    }

    .code-view{
        font-family: 'Inconsolata', monospace;
        // font-style: italic;
        -webkit-box-sizing: border-box;
        -moz-box-sizing: border-box;
        box-sizing: border-box;
        font-size: 16px;
        position: fixed;
        top: 0px;
        display: none;
        background-color: rgb(10, 10, 10);
        color: rgb(0,255,0);
        width: 100%;
        height: 100%;
        min-height: 100%;
        z-index: 5; 
    }
    .code-view *{
        -webkit-box-sizing: border-box;
        -moz-box-sizing: border-box;
        box-sizing: border-box;
    }
    .code-view .wrapper{
        height: 100%;
        padding: 20px;
        padding-bottom: 80px;
        display: flex;
        flex-wrap: wrap;
        justify-content: space-around;
    }
    .code-view .wrapper .column{
        width: 33.333333%;
        padding: 15px;
    }
    .code-view .wrapper .column textarea{
        background-color: black;
        color: rgb(0,255,0);
        width: 100%;
        border: none;
        border-radius: 4px;
        outline: none;
        height: 100%;
        padding: 10px;
        font-size: 14px;
    }
    .code-view .wrapper .column textarea:hover, .code-view .wrapper .column textarea:focus{
        border: 1px solid #76E5FC;
        padding: 9px;
    }
    .code-view .wrapper .column textarea::-webkit-scrollbar-track
    {
        -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.3);
        background-color: #000000;
    }

    .code-view .wrapper .column textarea::-webkit-scrollbar
    {
        width: 6px;
        background-color: #000000;
    }

    .code-view .wrapper .column textarea::-webkit-scrollbar-thumb
    {
        background-color: #76E5FC;
    }

    .code-view .wrapper .column .heading{
        font-size: 18px;
        color: #76E5FC;
        padding-bottom: 5px;
    }
    .code-view:focus{
        outline: none;
    }
    
}

.drawer-handle {
    display: none;
    position: absolute;
    right: 30px;
    top: 30px;
    z-index: 10;
    width: 32px;
    height: 35px;
    cursor: pointer;

    span {
        position: absolute;
        cursor: pointer;
        height: 2px;
        width: 32px;
        background: $drawer-handle-color;
        position: absolute;
        display: block;
        content: '';
        top: 0px;

        &:before, &:after {
            cursor: pointer;
            height: 2px;
            width: 32px;
            background: $drawer-handle-color;
            position: absolute;
            display: block;
            content: '';
            top: 0px;
        }

        &:before {

        }
    }

    span {
        -webkit-transition: all 0.2s ease;
        -moz-transition: all 0.2s ease;
        -ms-transition: all 0.2s ease;
        -o-transition: all 0.2s ease;
        transition: all 0.2s ease;

        &:after {
            -webkit-transition: all 0.2s ease;
            -moz-transition: all 0.2s ease;
            -ms-transition: all 0.2s ease;
            -o-transition: all 0.2s ease;
            transition: all 0.2s ease;
            top: 16px;
        }

        &:before {
            -webkit-transition: all 0.2s ease;
            -moz-transition: all 0.2s ease;
            -ms-transition: all 0.2s ease;
            -o-transition: all 0.2s ease;
            transition: all 0.2s ease;
            top: 8px;
        }
    }
}

.drawer-handle.open {
    display: block;
    span{
        transform: rotate(45deg);
        top: 10px;
        &:before{
            background-color: transparent;
        }
        &:after{
            transform: rotate(90deg);
            top: 0px;
        }
    }
}

.theWall{
    overflow: hidden;
    display: none;
    position: absolute;
    z-index: 10;
    width: 100%;
    height: 100%;
    top: 0;
    background-color: white;
    .container-fluid{
        height: 100%;
        .row{
            height: 100%;
        }
    }
    .brushstrokes{
        position: absolute;
        z-index: 0;
        transform: rotate(-77deg);
        width: 1000px;
        right: -100px;
        bottom: -301px;
    }
    .signatures{
        height: 100%;
    }
    .contribute{
        height: 100%;
        padding: 30px;
        padding-top: 10px;
        overflow-x: hidden;
        header{
            padding: 25px 0px;
            font-family: $raleway;
            color: $pink2;
            font-size: 30px;
            font-weight: 300;
            a{
            color: inherit;
            text-decoration: none;
                &:hover{
                    color: inherit;
                }
            }
        }
        blockquote{
            font-size: 18px;
            margin: 15px 0px;
            letter-spacing: 0.2px;
            font-weight: 500;
        }
        .content{
            padding: 25px 0px;
            font-size: 18px;
            font-weight: 400;
            h1{
                font-size: 23px;
                text-align: left;
                color: $pink2;
                margin-bottom: 25px;
                font-weight: 400;
            }
            a{
                color: $pink2;
            }
            .note{
                font-size: 16px;
                color: $pink2;
            }
            span{
                color: $white;
                background: rgba(51,132,204,0.7);
            }
            
        }
    }

}


#slideInShareCard{
    font-size: 14px;
    position: fixed;
    background-image: linear-gradient(to right, #f78ca0 0%, #f9748f 19%, #fd868c 60%, #fe9a8b 100%);    
    z-index: 900;
    bottom: 40px;
    transform: translateX(-100%);
    transition: 400ms;
    padding: 10px;
    border-bottom-right-radius: 5px;
    border-top-right-radius: 5px;
    &.visible{
        transform: translateX(0%);
    }
    button#cross-btn{
        position: relative;
        background: none;
        outline: none;
        border: none;
        float: right;
        color: $cross-btn-color;
        background: $cross-btn-back-color;
        border-radius: 14px;
        padding: 5px 9px;
        &:hover{
            cursor: pointer;
        }

    }
    .quote{
        margin-top: 10px;
        color: $text-color;
    }
    .icons{
        margin-top: 10px;
        margin-bottom: 10px;
        a{
            color: $icons-color;
        }
        a.twitter{
            position: relative;
            top: -6px;
        }
        .addthis_inline_share_toolbox{
            display: inline-block !important;
        }
        .at-share-btn-elements{
            display: inline-block !important;
            margin-top: 10px;
            margin-bottom: 5px;
            a{
                background-color: transparent !important;
                margin: 0px !important;
                padding: 0px !important;
                outline: none;
                &:focus{
                    outline: none;
                }
            }
            a.at-svc-twitter{
                display: none;
            }
        }

    }
}

.staticShareCard{
    font-size: 14px;
    background-image: linear-gradient(to right, #f78ca0 0%, #f9748f 19%, #fd868c 60%, #fe9a8b 100%);    
    padding: 10px;
    border-radius: 4px;
    margin: 20px 0px;
    .quote{
        margin-top: 10px;
        color: $text-color;
    }
    .icons{
        margin-top: 10px;
        margin-bottom: 10px;
        a{
            color: $icons-color;
            margin-right: 7px;
            &:hover{
                color: $icons-hover-color;
            }
        }
    }
    .at-share-btn-elements{
        margin-top: 10px;
        margin-bottom: 5px;
        a{
            background-color: transparent !important;
            margin: 0px !important;
            padding: 0px !important;
            outline: none;
            &:focus{
                outline: none;
            }
        }
    }
}


.loader{
  position: absolute;
  width: 100%;
  height: 100%;
  background-color: white;
  margin: 0px;
  padding: 0px;
  top: 0px;
  left: 0px;
  display: flex;
  align-items: center;
}
.loader-inner{
  margin: auto;
  color: rgb(255, 57, 57);
  
}
.loader-inner .text{
  text-align: center;
  font-size: 16px;
}
.loader-inner label{
  font-size: 30px;
  display: inline-block;
  opacity: 0;
}

@keyframes lol {
0% {
  opacity: 0;
  transform: translateX(-300px);
}
33% {
  opacity: 1;
  transform: translateX(0px);
}
66% {
  opacity: 1;
  transform: translateX(0px);
}
100% {
  opacity: 0;
  transform: translateX(300px);
}
}

@-webkit-keyframes lol {
0% {
  opacity: 0;
  -webkit-transform: translateX(-300px);
}
33% {
  opacity: 1;
  -webkit-transform: translateX(0px);
}
66% {
  opacity: 1;
  -webkit-transform: translateX(0px);
}
100% {
  opacity: 0;
  -webkit-transform: translateX(300px);
}
}

.loader-inner label:nth-child(6) {
-webkit-animation: lol 3s infinite ease-in-out;
animation: lol 3s infinite ease-in-out;
}

.loader-inner label:nth-child(5) {
-webkit-animation: lol 3s 100ms infinite ease-in-out;
animation: lol 3s 100ms infinite ease-in-out;
}

.loader-inner label:nth-child(4) {
-webkit-animation: lol 3s 200ms infinite ease-in-out;
animation: lol 3s 200ms infinite ease-in-out;
}

.loader-inner label:nth-child(3) {
-webkit-animation: lol 3s 300ms infinite ease-in-out;
animation: lol 3s 300ms infinite ease-in-out;
}

.loader-inner label:nth-child(2) {
-webkit-animation: lol 3s 400ms infinite ease-in-out;
animation: lol 3s 400ms infinite ease-in-out;
}

.loader-inner label:nth-child(1) {
-webkit-animation: lol 3s 500ms infinite ease-in-out;
animation: lol 3s 500ms infinite ease-in-out;
} 


@media (max-height:600px ){
    .svgs{
        opacity: 0.3;
    }
}
@media (max-width:600px ){
    .svgs{
        opacity: 0.3;
    }
}
@media (max-width: 991px){
    .main-view .two{
        overflow-y: initial;
        height: auto;
    }
    .signatures{
        display: none;
    }
    button.see-wall{
        display: none;
    }
    .backstage{
        padding: 20px !important;
    }
}


//font sizes for min width 1800px
@media(min-width:1800px ){
    .main-view{
        .one{
            .header{
                font-size: 48px;
            }
            .intro{
                font-size: 23px;
                button{
                    font-size: 19px;
                }
            }
            footer{
                font-size: 16px;
            }
        }
        .two{
            .header{
                font-size: 32px;
            }
            .content{
                h1.component-headers{
                    font-size: 28px;
                }
                .items{
                    .item{
                        font-size: 20px;
                    }
                }
            }
            footer{
                font-size: 18px;
            }
        }
    }
    .auditorium{
        .code-view{
            font-size: 16px;
            .wrapper {
                .column{
                    textarea{
                        font-size: 14px;
                    }
                    .heading{
                        font-size: 18px;
                    }
                }
            }
        }
    }
    .theWall{
        .contribute{
            header{
                font-size: 32px;
            }
            blockquote{
                font-size: 20px;
            }
            .content{
                font-size: 20px;
                h1{
                    font-size: 25px;
                }
                .note{
                    font-size: 18px;
                }
            }
        }
    }
    #slideInShareCard{
        font-size: 16px;
    }
    .staticShareCard{
        font-size: 16px;
    }
    .loader-inner .text{
        font-size: 18px;
    }

}
