@import "partials/variables";

// @font-face {
//   font-family: 'Mumsies';
//   src: url('../fonts/Mumsies.ttf') format('truetype');
//   font-weight: normal;
//   font-style: normal;
// }

html, body {
    font-family: $raleway;
    margin: 0;
    padding: 0;
}

html, body {
    height: 100%;
    color: $darkgrey;
    font-weight: 300;
}

html{
    //padding: 40px;
}

#app{
    height: inherit;
}

h1,h2,h3,h4{
    margin: 0;
    padding: 0;
    font-weight: 400;
}

a{
    text-decoration: none;
    &:hover{
        text-decoration: none;
    }
}

img{
    max-width: 100%;
}

.main-view{
    height: 100%;
    .row{
        height: 100%;
    }
    .one{
        padding: 0px 30px;
        height: 100%;
        background: $black;
        overflow-y: hidden;
        .header{
            padding: 25px 0px;
            font-family: $dots;
            color: $pink2;
            font-size: 45px;
            //font-weight: 500;
            a{
            color: inherit;
            text-decoration: none;
                &:hover{
                    color: inherit;
                }
            }
        }

        .intro{
            z-index: 3;
            line-height: 1.7em;
            font-weight: 300;
            font-size: 21px;
            color: $lightgrey;
            //padding-right: 200px;
            letter-spacing: 0.2px;
            span{
                color: $pink2;
            }
            button{
                background: none;
                letter-spacing: 0.5px;
                border: none;
                font-size: 18px;
                color: $blue;
                padding: 10px 0px;
                z-index: 2;
                position: relative;
                &:hover{
                    color: $pink2;
                }
                &:focus{
                    outline: none;
                }
            }
        }
        .svgs{
            z-index: 1;
            position: absolute;
            bottom: -30px;
            .popcorn1{
                display: none !important;
                svg{
                    display: none;
                }
                width: 200px;
                fill: $lightgrey;
                display: inline-block;
            }
            .popcorn2{
                width: 350px;
                fill: $pink2;
                //display: inline-block;
                position: absolute;
                float: left;
                left: -120px;
                top: -360px;
            }
            .popcorn3{
                width: 200px;
                fill: $darkgrey;
                position: absolute;
                float: left;
                top: -210px;
                left: 50px;
            }
        }
        footer{
            position: absolute;
            bottom: 0px;
            z-index: 1;
            right: 0px;
            padding: 30px;
            .icons{
                a{
                    padding-right: 6px;
                    color: $blue;
                    &:hover{
                        color: $pink2;
                    }
                }   
            }
        }
    }
    .two{
        height: 100%;
        padding: 30px;
        padding-top: 10px;
        overflow-y: scroll;
        overflow-x: hidden;
        .header{
            padding: 25px 0px;
            font-family: $raleway;
            color: $darkgrey;
            font-size: 30px;
            font-weight: 300;
            a{
            color: inherit;
            text-decoration: none;
                &:hover{
                    color: inherit;
                }
            }
        }
        .content{
            h1,h2,h3,h4{
                font-weight: 300;
            }
            h1{
                font-size: 26px;
                text-align: right;
                color: $pink2
            }
            .items{
                .item{
                    border: none;
                    background: none;
                    font-size: 20px;
                    width: 100%;
                    text-align: left;
                    padding: 10px 10px;
                    border-radius: 3px;
                    span{
                        float: right;
                        color: $white;
                        //font-size: 16px;
                        //padding: 3px;
                        position: relative;
                        transition: 0.5s;
                        transform: translate(-100%);
                    }
                    transition: 0.2s;
                    &:hover{
                        color: $pink2;
                        span{
                            color: $pink2;
                            transform: translate(0px);
                        }
                    }
                    &:focus{
                        outline: none;

                    }
                }
            }
            
        }
        footer{
            position: relative;
            bottom: 0;
            width: 100%;
            margin-top: 30px;
            padding: 12px;
            font-size: 16px;
            // background: $lightlightgrey;
            left: 0px;
            a{
                color: $blue;
                &:hover{
                    color: $pink2;
                }
            }
            span{
                display: inline-block;
            }
            i{
                color: $pink2;
                display: block;
                position: relative;
                top: 4px;
            }
        }
    }
}

.auditorium{
    // display: none;
    position: fixed;
    z-index: 4;
    transform: translateY(-1000%);
    width: 100%;
    background-color: $white;
    transition: 400ms;
    &.open{
        // display: block;
        top: 0;
        height: 100%;
        transform: translateY(0%);
        .backstage-door{
            display: block;
        }
    }
    .backstage-door{
        position: absolute;
        z-index: 10;
        display: none;
        background: $pink2;
        color: $black;
        border: none;
        // border: 1px solid $black;
        padding: 15px;
        border-radius: 4px;
        margin: 10px;
        font-weight: 400;
        bottom: 0;
        // right: 0;
        &:hover{
            background: $black;
            color: $white;
        }
        &:focus{
            outline: none;
        }
    }
    .backstage{
        font-size: 14px;
        padding: 60px;
        border: none;
        outline: none;
        position: absolute;
        display: none;
        background-color: rgba(0,0,0,0.8);
        color: $green;
        font-family: consolas, monospace;
        width: 100%;
        height: 100%; 
        &:focus{
            outline: none;
        }
    }
}

.drawer-handle {
    display: none;
    position: absolute;
    right: 30px;
    top: 30px;
    z-index: 10;
    width: 32px;
    height: 35px;
    cursor: pointer;

    span {
        position: absolute;
        cursor: pointer;
        height: 2px;
        width: 32px;
        background: $lightblack;
        position: absolute;
        display: block;
        content: '';
        top: 0px;

        &:before, &:after {
            cursor: pointer;
            height: 2px;
            width: 32px;
            background: $lightblack;
            position: absolute;
            display: block;
            content: '';
            top: 0px;
        }

        &:before {

        }
    }

    span {
        -webkit-transition: all 0.2s ease;
        -moz-transition: all 0.2s ease;
        -ms-transition: all 0.2s ease;
        -o-transition: all 0.2s ease;
        transition: all 0.2s ease;

        &:after {
            -webkit-transition: all 0.2s ease;
            -moz-transition: all 0.2s ease;
            -ms-transition: all 0.2s ease;
            -o-transition: all 0.2s ease;
            transition: all 0.2s ease;
            top: 16px;
        }

        &:before {
            -webkit-transition: all 0.2s ease;
            -moz-transition: all 0.2s ease;
            -ms-transition: all 0.2s ease;
            -o-transition: all 0.2s ease;
            transition: all 0.2s ease;
            top: 8px;
        }
    }
}

.drawer-handle.open {
    display: block;
    span{
        transform: rotate(45deg);
        top: 10px;
        &:before{
            background-color: transparent;
        }
        &:after{
            transform: rotate(90deg);
            top: 0px;
        }
    }
}

.theWall{
    overflow: hidden;
    display: none;
    position: absolute;
    z-index: 10;
    width: 100%;
    height: 100%;
    top: 0;
    // padding: 30px;
    // background-image: radial-gradient(73% 147%, #EADFDF 59%, #ECE2DF 100%), radial-gradient(91% 146%, rgba(255,255,255,0.50) 47%, rgba(0,0,0,0.50) 100%);
 // background-blend-mode: screen;
// background-color: rgba(0,0,0,0.2);
 // background-image: linear-gradient(-225deg, #E3FDF5 0%, #FFE6FA 100%);
 // background-image: linear-gradient(to top, #FFE6FA 0%,#E3FDF5 100%);
 // background-image: linear-gradient(to top, #fff1eb 0%, #ace0f9 100%);
    // background-image: linear-gradient(to bottom, #ace0f9 0%, #ffffff 100%);

    // background-image: linear-gradient(#FFFEFF 0%, #ff4c43 100%);
    // opacity: 0.9 ;
    background-color: white;
    .container-fluid{
        height: 100%;
        .row{
            height: 100%;
        }
    }
    .brushstrokes{
        // overflow: hidden;
        position: absolute;
        z-index: 0;
        transform: rotate(-77deg);
        width: 1000px;
        right: -100px;
        bottom: -301px;
    }
    .signatures{
        height: 100%;
    }
    .contribute{
        // background: $white;
        height: 100%;
        padding: 30px;
        padding-top: 10px;
        // overflow-y: scroll;
        overflow-x: hidden;
        header{
            padding: 25px 0px;
            font-family: $raleway;
            color: $pink2;
            font-size: 30px;
            font-weight: 300;
            a{
            color: inherit;
            text-decoration: none;
                &:hover{
                    color: inherit;
                }
            }
        }
        blockquote{
            font-size: 18px;
            margin: 15px 0px;
            letter-spacing: 0.2px;
            font-weight: 500;
        }
        .content{
            padding: 25px 0px;
            font-size: 18px;
            font-weight: 400;
            h1{
                font-size: 23px;
                text-align: left;
                color: $pink2;
                margin-bottom: 25px;
                font-weight: 400;
            }
            a{
                color: $pink2;
            }
            .note{
                font-size: 16px;
                color: $pink2;
            }
            span{
                color: $white;
                background: rgba(51,132,204,0.7);
            }
            
        }
        footer{
            position: relative;
            bottom: 0;
            width: 100%;
            margin-top: 30px;
            padding: 12px;
            font-size: 16px;
            // background: $lightlightgrey;
            left: 0px;
            a{
                color: $blue;
                &:hover{
                    color: $pink2;
                }
            }
            span{
                display: inline-block;
            }
            i{
                color: $pink2;
                display: block;
                position: relative;
                top: 4px;
            }
        }
    }

}



@media (max-height:600px ){
    .svgs{
        opacity: 0.3;
    }
}
@media (max-width:600px ){
    .svgs{
        opacity: 0.3;
    }
}
@media (max-width: 991px){
    .main-view .two{
        overflow-y: initial;
        height: auto;
    }
    .signatures{
        display: none;
    }
    button.see-wall{
        display: none;
    }
    .backstage{
        padding: 20px !important;
    }
}